@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


/* General */
body{
    font-family: "Nunito Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
h1 h2 h3 h4 h5 h6{
    font-family: "Nunito Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.logo{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #900;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    line-height: normal;
}
.scenes a{
    text-decoration: none !important;
    color: #0B0A0A;
}
.card-title{
    font-weight: 700 !important;
}
/*Footer*/
footer{
    padding: 24px 0px 24px 0px;
    background-color: #0B0A0A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .nav-link{
    color: white;
}
footer .nav-link > a:hover {
    color: lightgray;
}