@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


/* General */
body{
    min-height: 75rem;
    padding-top: 4.5rem;
    font-family: "Nunito Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.navbar-nav .nav-link{
    font-weight: 700 !important;
}
.logo{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    /* color: #900; */
    color: white;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    line-height: normal;
}

.card a{
    text-decoration: none !important;
    color: #0B0A0A;
}
.card a:hover{
    text-decoration: underline;
    color: #900;
}
.card-title{
    font-weight: 700 !important;
}
.card p{
    margin-bottom: 0 !important;
}

/* Avatar */
.avatar-container {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  /* VideoPlayer */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#videoContainer {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
}

#my-video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
#my-video img {
    width: -webkit-fill-available;
    height: inherit;
}
.vjs-poster img {
    -o-object-fit: cover !important;
    object-fit: cover !important;
}
.video-js .vjs-big-play-button {
    font-size: 3em;
    line-height: 1.9em !important;
    height: 2em !important;
    width: 2em !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 0.06666em solid #fff;
    background-color: #2b333f;
    background-color: rgba(43, 51, 63, .7);
    border-radius: 45rem !important;
    transition: all .4s;
}

#playIcon {
    position: absolute;
    font-size: 5em;
    color: #fff;
}

#overlay.fade-in {
    display: flex;
    opacity: 1;
}
/* Raiting */
.rating {
    display: inline-block;
    font-size: 1rem;
    color: #ffd700; /* Color de estrella activa */
  }

  .rating .star {
    cursor: pointer;
  }
/*Footer*/
footer{
    padding: 24px 0px 24px 0px;
    background-color: #0B0A0A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .nav-link{
    color: white;
}
footer .nav-link > a:hover {
    color: lightgray;
}


@media only screen and (max-width: 600px) {
    .logo{
        font-size: 1.5rem;
    }
    .card{
        font-size: .8rem;
    }
    .wd100{
        width: 100%;
    }
    .h5, h5 {
        font-size: 1rem;
    }
  }